/* GLOBAL SETTINGS */
:root{
  --text: clamp(16px, 1.1vw + 12px, 18px);
  --h1: clamp(32px, 4.5vw + 8px, 72px);
  --h2: clamp(26px, 3.3vw + 10px, 56px);
  --h3: clamp(22px, 2.6vw + 10px, 44px);
  --h4: clamp(20px, 2.1vw + 10px, 35px);
  --h5: clamp(18px, 1.6vw + 10px, 28px);
  --h6: clamp(16px, 1.2vw + 10px, 23px);

  --container: 1100px;
  --pad: clamp(16px, 4vw, 64px);
}

body {
  font-size: var(--text);
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  color: #121212;
  line-height: 1.4;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 500 !important;
  line-height: 1.2 !important;
}

h1{ font-size: var(--h1) !important; }
h2{ font-size: var(--h2) !important; }
h3{ font-size: var(--h3) !important; }
h4{ font-size: var(--h4) !important; }
h5{ font-size: var(--h5) !important; }
h6{ font-size: var(--h6) !important; }


.indent {
  margin-left: 32px;
}
  
/* mouse over link */
a:hover {
  text-decoration: underline;
}
  
/* selected link */
a:active {
  color: #333333;
}

/* navbar scrollspy contents buttons */
#contents-wrapper {
  overflow: hidden;
  z-index: 4;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.subtitle-center {
  text-align: center;
  padding: 50px 0 20px 0;
}

.nav-wrapper a{
  color: #121212 !important;
}  

.nav-wrapper {
  background-color: rgba(0,0,0,0);
}

nav ul {
  padding-right: 5%;
}

nav ul li {
  font-weight: 600;
}

nav ul li:hover {
  background: rgba(0,0,0,0.1);
}

/* sidenav settings */
.sideStick {
  position: fixed;
  top: 0;
  width: 100%;
}

.sideStick + .content {
  padding-top: 60px;
}

.role-pad {
  padding-top: 5px;
}

.brand-logo {
  padding-left: 20px !important;
  font-family: 'Poiret One', sans-serif;
}

.sidenav-trigger {
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 6;
  color: #121212;
  padding-top: 18px;
  padding-left: 18px;
}

/* page sections */
#pic-section, #about-section, #project-section, #case-section {
  overflow: auto;
}

#home-section {
  overflow: auto;
  background: rgb(70,140,176);
  background: linear-gradient(90deg, rgba(70,140,176,1) 0%, rgba(172,235,216,1) 100%);
  line-height: 1;
  margin-top: -80px;
  position: relative;
  height: 90vh; /* Set the height of the section */
}

#skills-section {
  overflow: auto;
  line-height: 1;
}

#contact-section {
  background: rgb(70,140,176);
  background: linear-gradient(90deg, rgba(70,140,176,1) 0%, rgba(172,235,216,1) 100%);
  overflow: auto;
}

/* Center titles vertically */

.home-contents {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  text-align: left;
  padding-left: 15vw;
}

/* HOME SECTION */
.overlay1 {
  font-size: 6vw !important;
  color: #121212;
  margin-bottom: 0px;
}

.overlay2 {
  font-size: 1.7vw !important;
  font-weight: 400;
  color: #121212;
  letter-spacing: 5px;
  padding-top: 7vh;
  line-height: 1.2;
}

.blurb1 {
  font-weight: 400 !important;
  color: #121212;
  font-size: 1.5vw !important;
  line-height: 1.7;
}

/* PROJECTS SECTION  */
.card-row {
  display: flex;
  flex-wrap: wrap;
}

.card-col {
  display: flex;
  flex-direction: column;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff; /* Set card background color */
  border: 1px solid #ccc; /* Add border to the card */
  margin: 10px 10px 10px 10px !important; /*Add margin to create space between cards */
}

.card-action {
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.card-title {
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  text-align: left;
  font-size: 20px !important;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.card-skills {
  font-weight: 600;
}

.card-content {
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  text-align: left;
  flex-grow: 1;
  padding: 20px; /* Add padding to the content */
}

/* SKILLS SECTION   */
.rectangle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color:whitesmoke;
}

.each-logo {
  height: 60px;
  padding-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-title {
  padding: 20px !important;
}

.wrap-one {
  text-align: center !important;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 12px;
} 

/* ABOUT SECTION   */
#jen1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  width: 20%;
  border: 2px solid #031d2a;
}

.text-block-a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  width: 80%;
}

.light-grey-text {
  color: whitesmoke;
}

.career-id {
  color: #333333;
  font-size: 20px;
}

blockquote {
  border-color: rgba(70,140,176,1) !important;
}

/* Carousel Testimonial */
.carousel {
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px !important;
}
.testimonial {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  background-color: whitesmoke;
  font-size: 24px;
}

.testimonial p {
  text-align: left;
  margin: 0;
}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #031d2a;
  background-color: transparent;
  border: none;
  outline: none;
  transition: color 0.3s; /* Add transition for smoother color change */
}
.prev {
  left: 0;
  padding-left: 20px;
}
.next {
  right: 0;
  padding-right: 20px;
}

.custom-button {
  background-color: whitesmoke !important;
  color: #031d2a !important;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom-button:hover {
  color:rgba(70,140,176,1) !important /* Change color on hover if needed */
}

.custom-button:focus {
  outline: none; /* Remove focus outline */
}

.custom-button:active {
  background-color: #bbb; /* Change color when clicked */
}

/* CONTACT SECTION */
#contact-title {
  padding-bottom: 10px;
}

#logo-jf {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

/* logo link icons */
#email-link {
  color: #121212;
}

#email-link:hover {
  color: #fff;
}

#phone {
  position: relative;
  top: 1px;
  padding-right: 20px;
  height: 30px;
}

#github {
  position: relative;
  top: 1px;
  padding-right: 20px;
  height: 30px;
}

#linkedin {
  position: relative;
  top: 1px;
  margin-top: 20px;
  margin-left: 5px;
  height: 27px;
}

#phone:hover {
  filter:  brightness(0) invert(1);
}

#github:hover {
  filter:  brightness(0) invert(1);
}

#linkedin:hover {
  filter: brightness(0) invert(1);
}

#copyright {
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#contact-icons {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: #031d2a;
  overflow: auto;
}

/* REDO GURU PAGE */
p.little-sub {
  font-weight: 600;
  padding: 20px 0 10px 0;
}

.text-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px 0 20px 0;
}

#redo-pic1 {
  width: 90%;
  float: right;
  margin-top: 6vh;
}

#img-top {
  overflow: auto;
  background: rgb(70,140,176);
  background: linear-gradient(90deg, rgba(70,140,176,1) 0%, rgba(172,235,216,1) 100%);
  line-height: 1;
}

.top-wrapper {
  margin-top: 20vh;
  height: 600px;
}

#case {
  margin-bottom: 100px;
  width: 100%;
  margin-top: -100px;
}

#case-section {
  margin-top: -80px;
  overflow: auto;
}

.survey-wrapper {
  padding: 0px 50px 0px 50px;
}

.persona-wrapper {
  padding: 0px 0px 20px 0px;
}

.survey-pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 20px;
}

.persona-pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px;
}

.participants-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 69%;
  padding-top: 5px;
  padding-bottom: 25px;
}

#wire-pics1, #wire-pics2, #wire-pics3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

#wire-pics3 {
  padding-bottom: 50px !important;
}

#mock-pics1, #mock-pics2, #mock-pics3, #mock-pics4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  margin-bottom: 50px;
}

#proto-pic1, #proto-pic2, #proto-pic3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#proto-pic1:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#proto-pic2:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#proto-pic3:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.proto-text {
  text-align: center;
  padding-bottom: 10px;
}

#affinity {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 20px 0px 20px 0px;
}

#flow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 40px 50px 40px 50px;
}

.bullet {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 15px;
}

.bullet2 {
  margin-top: 15px;
}

.materialboxed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.DS-pic {
  padding-top: 20px;
}

.indicator-item {
  width: 15px !important;
  height: 15px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

#D-System {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
  padding: 40px 0 40px 0;
}

.indent-words {
  width: 80%;
}

.text-emphasis {
  font-family: "futura-pt", sans-serif;
  font-weight: 400 !important;
  font-size: 32px !important;
  color: #121212;
}

.inner-box {
  padding: 30px 80px 30px 80px;
  margin: 20px 0 20px 0;
  background-color: whitesmoke;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.outer-box {
  padding: 30px 80px 30px 80px;
  margin: 20px;
  background-color: whitesmoke;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* CRAIGSLIST REDESIGN PAGE */

#mockup-phone {
  width: 90%;
  float: right;
  border-radius: 2px;
  margin-top: 7vh;
}

#mockup-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 2px;
}

.mood-pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px;
  border: 2px solid;
  border: outset #333333;
}

.c-og {
  border-radius: 12px;
  border: 3px solid !important;
  border: outset #000000;
  width: 70%;
}

.m-top {
  font-weight: 600;
}

.before {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-width: 2px; 
  border: solid;
  border-color: #666666;
}

.after {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-width: 2px; 
  border: solid;
  border-color: #6A2983;
}

.responsive-m {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  border: 3px solid !important;
  border: outset #000000;
}

.tablet {
  margin-left: 6%;
}

.phone {
  width: 75%;
}

#S-System {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding: 40px 0 40px 0;
}

.proto-image2 {
  border-radius: 12px;
  border: 3px solid !important;
  border: outset #000000;
  width: 70%;
}

#proto-pic5, #proto-pic6, #proto-pic7 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#proto-pic5:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#proto-pic6:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#proto-pic7:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.vid-wrapper {
  background-color: whitesmoke;
  margin-top: 40px;
  padding-top: 2px;
  padding-bottom: 50px;
}


@media (max-width: 1450px) {
  #mockup-phone {
    margin-top: 9vh;
  }
}

@media (max-width: 1300px) {
  .overlay1 {
    font-size: 7vw !important;
  }
  
  .overlay2 {
    font-size: 1.9vw !important;
  }
  
  .blurb1 {
    font-size: 1.7vw !important;
  }

  #home-section {
    height: 80vh;
  }

  #redo-pic1 {
    width: 100%;
    margin-top: 7vh;
  }

  #mockup-phone {
    width: 90%;
    margin-top: 11vh;
  }
  
  .c-og {
    width: 90%;
  }

  #D-System {
    width: 100%;
    padding: 20px 0 20px 0;
  }

  #S-System {
    padding: 20px 0 20px 0;
  }
}

@media (max-width: 1150px) {
  .overlay1 {
    font-size: 7.5vw !important;
  }
  
  .overlay2 {
    font-size: 2vw !important;
    padding-top: 6.5vh;
  }
  
  .blurb1 {
    font-size: 1.9vw !important;
  }

  .testimonial {
    font-size: 20px;
  }
}

@media (max-width: 1075px) {
  #redo-pic1 {
    width: 100%;
    margin-top: 15vh;
  }
}

@media (max-width: 992px) {
  #mockup-phone {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 4vh;
  }

  #redo-pic1 {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 4vh;
    padding-bottom: 20px;
  }
  
  .overlay1 {
    font-size: 8vw !important;
  }

  .overlay2 {
    font-size: 3vw !important;
    line-height: 1.4;
    padding-top: 6vh;
  }

  .blurb1.hide-on-large-only {
    margin-top: -15px;
  }
  
  .blurb1 {
    font-size: 2.4vw !important;
  }

  .career-id {
    font-size: 18px;
  }

  body {
    font-size: 18px !important;
  }
  
  h1 {
    font-size: 54px !important; 
  }
  
  h2 {
    font-size: 45px !important;
  }
  
  h3 {
    font-size: 37px !important; 
  }
  
  h4 {
    font-size: 31px !important;
  }
  
  h5 {
    font-size: 26px !important;
  }
  
  h6 {
    font-size: 22px !important; 
  }

  .home-contents {
    padding-left: 10vw;
  }

  .top-wrapper {

    height: 880px;
  }

  .text-emphasis {
    font-size: 28px !important;
  }

  .persona-pics {
    padding: 0px;
  }

  .mood-pics {
    margin-bottom: 10px;
  }

  #D-System {
    padding: 10px 0 10px 0;
  }

  #S-System {
    padding: 10px 0 10px 0;
  }

  video {
    width: 500px;
  }
}

@media (max-width: 950px) {
  .overlay1 {
    font-size: 8.75vw !important;
  }

  #home-section {
    height: 75vh; 
  }
}

@media (max-width: 857px) {
  .testimonial {
    font-size: 18px;
  }

  .career-id {
    font-size: 16px;
  }

  .top-wrapper {
    height: 820px;
  }
}

@media (max-width: 830px) {
  .overlay2 {
    font-size: 3.5vw !important;
  }

  .blurb1 {
    font-size: 2.8vw !important;
  }
}

@media (max-width: 750px) {
  .overlay2 {
    font-size: 3.8vw !important;
  }

  .blurb1 {
    font-size: 3vw !important;
  }

  .top-wrapper {
    height: 775px;
  }
}

@media (max-width: 660px) {
  #home-section {
    height: 70vh; 
  }

  .blurb1 {
    font-size: 3.5vw !important;
  }

  .testimonial {
    font-size: 16px;
  }

  .career-id {
    font-size: 14px;
  }  

  .top-wrapper {
    height: 725px;
  }

  video {
    width: 475px;
  }
}

@media (max-width: 600px){
  body {
    font-size: 16px !important;
  }
  
  h1 {
    font-size: 32px !important; 
  }
  
  h2 {
    font-size: 29px !important;
  }
  
  h3 {
    font-size: 26px !important; 
  }
  
  h4 {
    font-size: 23px !important;
  }
  
  h5 {
    font-size: 20px !important;
  }
  
  h6 {
    font-size: 18px !important; 
  }

  #home-section {
    height: 62vh;
  }
  .prev {
    padding-left: 10px;
  }

  .next {
    padding-right: 10px;
  }

  .top-wrapper {
    height: 675px;
  }

  .text-emphasis {
    font-size: 22px !important;
  }

  #proto-pic1, #proto-pic2, #proto-pic3 {
    width: 40%;
  }

  .persona-pics {
    padding: 10px;
  }
    
  .c-og {
    width: 50%;
  }

  .c-og {
    margin-bottom: 16px;
  }

  .responsive-m {
    margin-bottom: 16px;
  }

  .tablet {
    margin-left: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  .phone {
    margin-left: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .m-top {
    margin-top: 10px;
  }
}

@media (max-width: 550px){
  #home-section {
    height: 62vh; 
  }

  .overlay2 {
    font-size: 4vw !important;
  }

  .blurb1 {
    font-size: 3.8vw !important;
  }

  .testimonial {
    font-size: 15px;
  }

  .top-wrapper {
    height: 650px;
  }
}

@media (max-width: 500px){
  .top-wrapper {
    height: 625px;
  }

  #proto-pic1, #proto-pic2, #proto-pic3 {
    width: 60%;
  }

  video {
    width: 450px;
  }
}

@media (max-width: 450px){
  #home-section {
    height: 55vh; 
  }

  .top-wrapper {
    height: 600px;
  }

  video {
    width: 400px;
  }
}

@media (max-width: 400px){
  #home-section {
    height: 50vh; 
  }

  .overlay2 {
    font-size: 4vw !important;
  }

  .blurb1 {
    font-size: 4vw !important;
  }

  .blurb1.hide-on-large-only {
    margin-top: 0px;
  }

  .testimonial {
    font-size: 14px;
  }

  .career-id {
    font-size: 12px;
  }

  .prev {
    padding-left: 5px;
  }

  .next {
    padding-right: 5px;
  }

  .top-wrapper {
    height: 575px;
  }

  video {
    width: 350px;
  }
}

@media (max-width: 370px){
  #home-section {
    height: 40vh;
  }

  .testimonial {
    font-size: 13px;
  }

  .career-id {
    font-size: 10px;
  }

  .top-wrapper {
    height: 550px;
  }

 
}

@media (max-width: 320px){
  video {
    width: 320px;
  }
}

@media (max-width: 256px){
  .top-wrapper {
    height: 570px;
  }
} 
